*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: 'logo1';
    font-style: normal;
    src: url("'font-family: 'Rubik Mono One', sans-serif;'");
}
.head{
    float: left;
}
#logo{
    margin-top: 15px;
    margin-left: 10px;
    width: 100%;
    color: red;
    font-size: 2.2em;
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 20px;
    background-color: white;
    text-align: center;
}
#buscar{
width: 50%;
display: flex;
margin-top: 20px;
color: red;
}
#buscar input {
    width: 40%;
    height: 40px;
    border-radius: 70px;
    font-size: 1.5em;
    margin: 0 auto;
}
#login{
    width: 40%;
    height: 40px;
    align-items: end;
    margin-top: 13px;
    float: right;
    margin-right: 10px;
    background-color: white;
}
#login a, #login p{
    font-family: 'Rubik Mono One', sans-serif;
    float: right;
    font-size: 1em;
    margin: 15px auto;
    margin-left: 7px;
    text-decoration: none;
    color: red;
}
#login a:hover{
    color: white;
}
header{
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
body{
    background-image: url("../imagenes/coche_blancoNegro.png");
    background-repeat: no-repeat;
    background-size: cover;
}